name: Go

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.20.2
      - name: Go Vet
        run: go vet ./...
      - name: Build
        run: CGO_ENABLED=0 && go build -o gvm --tags netgo -ldflags '-extldflags "-static" -s -w' main.go
  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.20.2
      - name: Go Vet
        run: go vet ./...
      - name: Build
        run: CGO_ENABLED=0 && go build -o gvm --tags netgo -ldflags '-extldflags "-static" -s -w' main.go
